.container {
  position: relative;
  height: 45px;
  margin-bottom: 30px;
}

.element {
  width: 600px;
  border: 1px solid grey;
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.6);
  background-color: white;
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  composes: textInput from "styles/composables.css";
  width: 100%;
  font-weight: bold;
  font-size: 14px;
}

.body {
  composes: textInput from "styles/composables.css";
  width: 100%;
  resize: none;
  border: none;
  font-size: 14px;
}

.controls {
  text-align: right;
  composes: button from 'styles/composables.css';
}

.hidden {
  display: none;
}
